@model imdb.Models.MovieActor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovieActor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Actor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Actor.ActorID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Plot)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MovieActorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
